@{
    ViewBag.Title = "TotalInquiry";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>TotalInquiry</h2>

<div class="table-agile-info">
    <div class="panel panel-default">
        <div class="panel-heading">
            Service Inquiry Detail
        </div>
        <div>
            <script>
  $(document).ready(function () {
      $('#tb').DataTable();
  });
            </script>

            <link href="~/jquery.dataTables.min.css" rel="stylesheet" />
            <script src="~/jquery.dataTables.min.js"></script>
            <table id="tb" class="table" ui-jq="footable" ui-options='{
        "paging": {
          "enabled": true
        },
        "filtering": {
          "enabled": true
        },
        "sorting": {
          "enabled": true
        }}'>
                <thead>
                    <tr>
                        <th data-breakpoints="xs">Customer</th>
                        <th data-breakpoints="xs">Serviuce Provider</th>
                        <th data-breakpoints="xs">Complaint Status</th>
                        <th data-breakpoints="xs">Complaint Date</th>
                       
                        <th data-breakpoints="xs">Process Date</th>
                        <th data-breakpoints="xs">Complete Date</th>
                        <th data-breakpoints="xs">Service Provider Detail</th>                                        
                        <th data-breakpoints="xs">Customer Detail</th>

                    </tr>
                </thead>
                <tbody>

                    @foreach (var item in ViewData["temp"] as List<AMC.Models.ServiceInquiry>)
                    {

                        <tr data-expanded="true">
                            <td>@item.fname @item.lname</td>
                            <td>@item.sp_fname @item.sp_lname</td>

                           
                            <td>@item.status</td>
                            <td>@item.date</td>
                            <td>@item.processdate</td>
                            <td>@item.enddate</td>

                            


                            <td><a href="/Admin/ViewServiceProvider/@item.sp_id">Service Provider Details</a></td>
                            <td><a href="/Admin/UserDetail/@item.user_id">Customer Details</a></td>

                        </tr>

                    }
                   
                </tbody>
            </table>
        </div>
    </div>
</div>