@{
    ViewBag.Title = "AddCity";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="form-w3layouts">
    <!-- page start-->
    <!-- page start-->
    <link href="~/bvalidator/bvalidator.css" rel="stylesheet" />
    <script src="~/bvalidator/jquery-1.11.0.min.js"></script>
    <script src="~/bvalidator/jquery.bvalidator.js"></script>

    <script type="text/javascript">
                                    $(document).ready(function () {
                                        $('#form2').bValidator();
                                    });
    </script>
    @using (Html.BeginForm("UpdateArea", "Admin", FormMethod.Post, new { @id = "form2" }))
    {
        var p = ViewData["temp"] as AMC.EDM.Area_master;


        <div class="row">
            <div class="col-lg-12">
                <section class="panel">
                    <header class="panel-heading">
                        Update Area
                    </header>
                    <div class="panel-body">
                        <div class="position-center">
                            <form role="form">
                                <div class="form-input">
                                    <label for="area">City Name:</label>
                                    <select name="city_name" data-bvalidator="required" class="form-control">
                                        <option value="">Select</option>
                                        @foreach (var item in ViewData["city"] as List<AMC.EDM.City_master>)
                                        {
                                        
                                            <option value="@item.city_id">@item.city_name</option>
                                        }

                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="area">Area Name:</label>
                                    <input type="text" class="form-control" id="area" data-bvalidator="required" value="@p.area_name" name="area_name">
                                    <input type="hidden" value="@p.area_id" name="area_id" />

                                    @ViewBag.msg
                                </div>
                               
                                <button type="submit" class="btn btn-info">Submit</button>
                            </form>
                        </div>

                    </div>
                </section>

            </div>
           
        </div>


    }

    

    <!-- page end-->
</div>