@{
    ViewBag.Title = "ViewCustomerDetail";
    Layout = "~/Views/Shared/sproviderlayout.cshtml";
}




<div class="table-agile-info">
    <div class="panel panel-default">
        <div class="panel-heading">
            customer data
        </div>
        <div>
            <script>
  $(document).ready(function () {
      $('#tb').DataTable();
  });
            </script>

            <link href="~/jquery.dataTables.min.css" rel="stylesheet" />
            <script src="~/jquery.dataTables.min.js"></script>
            <table id="tb" class="table" ui-jq="footable" ui-options='{
        "paging": {
          "enabled": true
        },
        "filtering": {
          "enabled": true
        },
        "sorting": {
          "enabled": true
        }}'>
                <thead>
                    <tr>

                        <th>Customer Name</th>
                        <th>Email-Id</th>
                        <th data-breakpoints="xs">Mobile-No</th>
                        <th>Address</th>
                        <th data-breakpoints="xs">User Image</th>

                    </tr>
                </thead>
                <tbody>

                    @foreach (var item in ViewData["temp"] as List<AMC.Models.CustomerDetail>)
                    {

                        <tr data-expanded="true">

                            <td>@item.fname @item.lname</td>
                            <td>@item.email</td>
                            <td>@item.mobile</td>
                            <td>@item.address</td>
                            <td><img src="@item.user_img" height="100" width="100" /></td>

                        </tr>

                    }
                 
                </tbody>
            </table>
        </div>
    </div>
</div>